{% extends '@SfsComponents/sidebar/_cacheable_sidebar.html.twig' %}

{% block sidebar %}
<ul class="wraplist">
    {% for sidebar_block in sidebar_blocks %}
        <li class="menusection">{{ sidebar_block.title }}</li>

        {% for element in sidebar_block.elements %}
            <li class="">
                {% if element.enabled %}
                    <a class="{{ active_for_routes(element.active_expression, null, active_for_routes_class) }}" href="{{ url(element.route) }}">
                        {% if element.icon|default(false) %}
                            <span class="{{ element.icon }}"></span>
                        {% endif %}
                        <span class="title">{{ element.text }}</span>
                    </a>
                {% else %}
                    <a class="{{ active_for_routes(element.active_expression, null, active_for_routes_class) }} disabled" href="#">
                        {% if element.icon|default(false) %}
                            <span class="{{ element.icon }}"></span>
                        {% endif %}
                        <span class="title">{{ element.text }}</span>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    {% endfor %}
</ul>
{% endblock sidebar %}