<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="{{ html_classes|default('') }}">
<head>
    {% block head_begin %}{% endblock head_begin %}
    <meta charset="UTF-8"/>
    {% block viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    {% endblock viewport %}
    {% block seo %}
        <title>{{ title_prefix|default('') }}{% block title %}Welcome!{% endblock %}</title>
    {% endblock seo %}
    {% block favicon %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"/>
    {% endblock favicon %}
    {% block manifest %}
        <link rel="manifest" href="{{ asset('build/manifest.json') }}">
    {% endblock manifest %}
    {% block extra_headers %}
        {% if app_version|default(false) %}
            <meta name="generator" content="{{ app_version }}" />
        {% endif %}
        {% if app_color|default(false) %}
            <meta name="msapplication-TileColor" content="#{{ app_color }}"/>
            <meta name="theme-color" content="#{{ app_color }}"/>
        {% endif %}
    {% endblock %}
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}
    {% block header_javascripts %}
        {#<script type="text/javascript">document.cookie = "utz=" + (new Date()).toString().split(' ')[5] + ';path=/;secure=true'</script>#}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body class="{{ body_classes|default('') }}">
{% block body_begin %}{% endblock body_begin %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
{% block body_end %}{% endblock body_end %}
</body>
</html>
